//- ------------------------------------
//- extend
//-
extends /layouts/default

//- ------------------------------------
//- variables this page
//-
append variables
  -
    const TITLE       = 'GLSL'
    const DESCRIPTION = 'GLSL'

//- ------------------------------------
//- style this page
//-
//- block style
  //- example
  //- link(rel="stylesheet", href="css/style.css")

//- ------------------------------------
//- script this page
//-
block scripts
  //- example
  script(src='js/index.js')


//- ------------------------------------
//- content this page
//-
block content
  canvas#canvas
  script#vs(type='x-shader/x-vertex')
    include /vertex-shader.vs
  script#fs(type='x-shader/x-fragment')
    include /fragment-shader.fs
